.btn-new-channel {
    display: flex;
    align-items: center;
    justify-content: center;
    
    span {
        margin-right: 8px;
    }
    &:hover {
        cursor: pointer;
        background-color: #6e1470;
        border-radius: 8px;
    }
}

.channel-container {

    div {
        margin: 8px 24px;
        padding: 0px 16px;

        &:hover {
            cursor: pointer;
            background-color: #6e1470;
            border-radius: 8px;
        }
    }
}