<div class="wrapper" (mouseenter)="onFocus = true" (mouseleave)="onFocus = false" >
    <div *ngIf="onFocus" class="options-overlay" id="overlay-{{thrdObj.tId}}">
        <i class="pi pi-file-edit"></i>
        <i (click)="showDetails(thrdObj)" class="pi pi-comment"></i>
        <i (click)="threadService.deleteThread(thrdObj)" class="pi pi-trash"></i>
    </div>
    <div class="avatar">
        <img src="{{avatarImgPath}}" alt="Avatar">
    </div>
    <div class="thread-content">
        <div class="head">
            <h3>{{ thrdObj.userName }}</h3><span>{{ transformTimestamp(thrdObj.creationTime) }}</span>
        </div>
        <p [innerHTML]="thrdObj.message"></p>
    </div>
    <div class="message-icons">
    </div>
</div>
