.input-container {
    display: flex;
    flex-direction: column;
    background-color: #6e1470;
}

.content {
    display: flex;
    flex-direction: row;

    >div {
        margin: 8px;
    }
}

// image change not available as guest
.inactive {
    pointer-events: none;
}    

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;

         div {
        display: flex;
        flex-direction: column;
    }
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

img {
    width: 80px;
}

input[type="file"] {
    display: none;
}

p {
    margin: 0 !important;
}

.upload-btn {
    padding: 8px;
    border-radius: 8px;


    &:hover {
        cursor: pointer;
        background-color: rgba($color: #000000, $alpha: 0.1);
    }

    >label {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        >mat-icon {
            margin-right: 8px;
        }
    }
}

.img-container {
    margin-bottom: 8px;
}

.form-container {
    background-color: #6e1470;
}

.title {
    background-color: #6e1470;
    color: white;
    margin: 0px !important;
}

button {
    color: white !important;
}

.upload-btn {

    p {
        color: white !important;
    }

}



mat-form-field {
    background-color: #6e1470 !important;
}

::ng-deep .bg {
    background-color: #6e1470 !important;
}

::ng-deep .mat-form-field-appearance-fill {
    background-color: #6e1470 !important;
}


.mat-focused .mat-form-field-label {
    /*change color of label*/
    background-color: #6e1470 !important;
}

.mat-form-field-underline {
    /*change color of underline*/
    background-color: #6e1470 !important;
}

.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #6e1470 !important;
}