<h1 mat-dialog-title>Settings</h1>
<form [formGroup]="formTemplate" (submit)="submit(formTemplate.value)">
    <div mat-dialog-content class="content">

        <div class="input-container">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
                <div *ngIf="isSubmitted">This field is required</div>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
        </div>

        <div class="upload-container">
            <div class="img-container">
                <img [src]="imgSrc" (click)="fileUploader.click()">
            </div>
            <div class="upload-btn">
                <label for="fileDialog" class="upload-file">
                    <mat-icon>cloud_upload</mat-icon>
                    <p>Upload image</p>
                </label>
                <input type="file" id="fileDialog" accept="image/*" #fileUploader formControlName="imageUrl" (change)="onFileSelected($event)">
            </div>
        </div>

    </div>

    <div mat-dialog-actions class="btn-container">
        <button mat-button mat-dialog-close>Cancle</button>
        <button mat-button mat-dialog-close type="submit" cdkFocusInitial>Save</button>
    </div>
</form>