<div class="header">
    <h2>To:</h2>
    <div></div>
    <mat-form-field>
        <mat-label>Search users..</mat-label>
        <input matInput>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-button>Create new chat</button>
</div>
<div>
    <div matTooltip="Start a conversation" *ngFor="let user of allUsers" class="users-container" (click)="selectUser()">
        <div class="img-container">
            <img class="userImg" src="{{ user.userImgUrl }}">
        </div>
        <div>
            <p>{{ user.displayName }}</p>
            <p>{{ user.email }}</p>
        </div>
    </div>
</div>