.header {
    margin: 36px;
}

<<<<<<< HEAD
.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    height: 150px;
    
}

.burger-icon {
    cursor: pointer;
}
=======
.example-form-field {
    width: 200px;
  }
>>>>>>> bd5143202a5ffcd7c61254031735fd876d8bbcc4
