<div class="wrapper">
    <!-- header -->
    <h2>Thread</h2>
    <!-- content -->
    <div class="thread-content">
        <app-thread [avatarImgPath]="avatarImgPath" [thrdObj]="thrdObj"></app-thread>
       <div class="answers-section">
        <p class="amount"><span >{{ answers.length }} answers</span></p>
        <div *ngFor="let answer of answers, index as i" class="answer">
            <app-thread [thrdObj]="answer"></app-thread>
        </div>
       </div>
    </div>
    <!-- footer -->
    <app-text-editor [usageContext]="textEditorContext"></app-text-editor>
</div>