.content-wrapper {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}

.channel-content {
    width: 100%;
    overflow-y: auto;
}

.thread {
    // max-width: 800px;
    margin-bottom: 40px;
    width: 100%;
}
