.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.channel-content {
    height: 100%;
    width: 100%;

}

.thread {
    // max-width: 800px;
    margin-bottom: 40px;
    width: 100%;
}
