<div class="header">
    <h2 *ngFor="let name of userNames">{{ name }}</h2>
</div>

<div>
    <div *ngFor="let message of messageData; let i = index" class="content">
        <div class="message-info">
            <img src="{{ message.userImgUrl }}">
            <div>
                <div style="display: flex;">
                    <p style="font-weight: bold;" class="name">{{ message.userName }}</p>
                    <p class="date">{{ transformTimestamp(message.date) }}</p>
                </div>
                <div class="message-container">
                    <p>{{ message.message }}</p>
                </div>
            </div>
        </div>

    </div>
</div>

<form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <quill-editor [style]="editorStyle" [modules]="config" (onContentChanged)="maxLength($event)"
            formControlName="editor">
            <button mat-button>Submit</button>
        </quill-editor>
        <span *ngIf="editorForm.get('editor').value != null">{{ 1000 - editorForm.get('editor').value.length }}</span>
        <button mat-button>Submit</button>
    </div>

</form>