<div class="opacity-delay auth-dialog card">

    <h1>Log in</h1>

    <form #loginForm="ngForm" (ngSubmit)="submitForm()" class="gap-1">

        <div class="card w-12 flex flex-column gap-3">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-envelope"></i>
                </span>
                <input [disabled]="!formActive" [(ngModel)]="formData.usermail" required email pInputText name="email" placeholder="Email" />
            </div>

            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-key"></i>
                </span>
                <input [disabled]="!formActive" [(ngModel)]="formData.password" required minlength="5" pattern=".*\d.*" type="password"
                    pInputText name="password" placeholder="Password" />
            </div>
        </div>

        <div class="login-no-success">
            <span *ngIf="wrongInput && !loginForm.dirty">User/Password combination not found</span>
        </div>

        <div class="flex gap-3 manage-password">
            <span class="remember-password">
                <form class="align-items-center gap-1">
                    <div class="flex align-items-center">
                        <p-checkbox type="p-checkbox" name="remember-pw"
                            class="mr-1" value="Remember password" inputId="pw"></p-checkbox>
                        <label for="pw">Remember password</label>
                    </div>
                </form>
            </span>
            <a routerLink="/forgotPassword">Forgot password?</a>
        </div>
        <div class="buttons flex flex-column justify-content-center align-items-center login-buttons gap-2 mt-5 mb-5">
            <p-button class="w-full" [disabled]="loginForm.invalid" type="submit" label="Login"
                styleClass="p-button-raised w-full"></p-button>
            <p-button (onClick)="authService.GoogleAuth()" class="w-full" type="submit" label="Login with Google"
                styleClass="p-button-raised w-full"></p-button>
            <p-button class="w-full" routerLink="/summary" label="Guest Login"
                styleClass="p-button-raised p-button-secondary w-full"></p-button>
        </div>
        <div class="flex gap-3">
            <span>Don't have an account? <a href="" routerLink="/auth/signup">Register here</a></span>
            
        </div>


    </form>

</div>