.logout {
    &:hover {
        cursor: pointer;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manage-password {
    height: 40px;
    display: flex;
    align-items: center;
}

.opacity-delay {
    opacity: 0;
    animation: reveal 2500ms forwards;

    @keyframes reveal {
        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

.login-no-success {
    font-size: 16px;
    height: 24px;
    margin: 8px 0px;

    span {
        animation: transformColor 6s forwards;

        @keyframes transformColor {
            0% {
                opacity: 0;
            }
            16% {
                opacity: 1;
            }
            84% {
                opacity: 1;
            }
            100% {
                opacity: 0
            }
        }
    }


}

.buttons {
    width: 100%;
}
