@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";


* {
    font-family: 'Lato';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 0 4px #707070;
}


::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}


quill-editor {
    height: 120px !important;
    color: white;

    .ql-editor.ql-blank::before {
        color: white !important;
    }
}


a {
    color: unset;
    text-decoration: unset;

    &:hover {
        color: unset;
        text-decoration: underline;
    }
}

body {
    position: relative;
    background-color: #3F0E40;
    color: white !important;
}

.auth-dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;

    h1,
    p {
        text-align: center;
    }

    h1 {
        position: inherit;
        padding-bottom: 30px;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

;