.main-container {
    display: flex;
}


.header-content-container {
    display: flex;
    flex-direction: column;
}


mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: 270px;
    height: 100%;
}

mat-toolbar, mat-sidenav-container, mat-sidenav {
    background-color: #3F0E40;
    color: white;
}

button {
    &:hover {
        background-color: #6e1470;
    }
}

.content-wrapper {
    display: flex;

    .content {
        height: 100%;
    }

}



