.main-container {
    display: flex;
}


.header-content-container {
    display: flex;
    flex-direction: column;
}


mat-sidenav-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100px;
}

mat-sidenav-content {
    height: 100%;
}

mat-sidenav {
    width: 270px;
    height: 100%;
}

mat-toolbar,
mat-sidenav-content,
mat-sidenav {
    background-color: #3F0E40;
    color: white;
}

button {
    &:hover {
        background-color: #6e1470;
    }
}


.inactive {
    animation: rotateUpwards90 0.5s ease-in-out forwards;
}


@keyframes rotateUpwards90 {
    0% {
        transform: rotate(0deg);
        transform-origin: center center;
    }

    100% {
        transform: rotate(180deg);
        transform-origin: center center;
    }
}

.active {
    animation: rotateDownwards90 0.5s ease-in-out forwards;
}


@keyframes rotateDownwards90 {
    0% {
        transform: rotate(-180deg);
        transform-origin: center center;
    }

    100% {
        transform: rotate(0deg);
        transform-origin: center center;
    }
}

@media only screen and (max-width: 700px) {
    mat-sidenav {
        width: 100vw;
    }
}