<div [className]="createChannelDialog ? 'wrapper overlay' : 'wrapper'">
    <app-header (sender)="receiverSidebar($event)"></app-header>
    <div class="main-container">
        <app-sidebar (sender)="receiverChannelDialog($event)" class="sidebar" *ngIf="!sidebar"></app-sidebar>
        <app-content></app-content>
    </div>




    <div class="create-channel-container" *ngIf="createChannelDialog">
        <app-create-channel (sender)="receiverChannelDialogClose($event)"></app-create-channel>
    </div>


</div>