.content {
    position: relative;
    display: flex;
    height: 100%;
    background-color: #3F0E40;
    border: 1px solid white;

    section {
        padding: 16px 24px 0px 24px;
    }

    .outlet-section {
        width: 100%;
    }

    .detail-section {
        border-left: 1px solid white;
        width: 100%;
        position: relative;

        i { 
            position: absolute;
            top: 12px;
            right: 8px;
            font-size: 1.5rem;
            
            &:hover {
                color: rgba(255, 255, 255, 0.7);
                cursor: pointer;
            }
        }
    }


    @media only screen and (max-width: 1300px) {
        .detail-section {
            position: absolute;
            inset: 0;
            border-left: unset;
            
        }

    }

}