.content {
    display: flex;
    color: black;
    background-color: white;
    margin: 8px 0px 0px 16px;
    height: 100%;

    section {
        padding: 16px 24px 0px 24px;
    }

    .outlet-section {
        width: 100%;
    }

    .detail-section {
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        width: 100%;
        position: relative;

        i { 
            color: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 12px;
            right: 8px;
            
            &:hover {
                color: rgba(0, 0, 0, 0.6);
                cursor: pointer;
            }
        }
    }

}